/* line 32, sass/_mixins.scss */
.entity-field-collection-item .icon {
  display: inline-block;
  background: url('images/icons-s7aa0d17ed4.png') no-repeat;
}

/* line 41, sass/_mixins.scss */
.icon.forum_list_default {
  background-position: -70px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 35px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 41, sass/_mixins.scss */
  .icon.forum_list_default {
    background-size: 309px 26px;
    background-position: 0 0;
    height: 26px;
    width: 35px;
  }
}

/* line 41, sass/_mixins.scss */
.icon.forum_list_new_posts {
  background-position: -175px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 35px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 41, sass/_mixins.scss */
  .icon.forum_list_new_posts {
    background-size: 309px 26px;
    background-position: -53px 0;
    height: 26px;
    width: 35px;
  }
}

/* line 41, sass/_mixins.scss */
.icon.topic_list_closed {
  background-position: -254px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 25px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 41, sass/_mixins.scss */
  .icon.topic_list_closed {
    background-size: 309px 26px;
    background-position: -105px 0;
    height: 25px;
    width: 22px;
  }
}

/* line 8, sass/advanced-forum.hkforumstyle.structure.scss */
div.forum-table-superheader {
  border-left: solid 1px #cccccc;
  border-top: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  margin-bottom: -1px;
}

/* line 16, sass/advanced-forum.hkforumstyle.structure.scss */
table.forum-table {
  width: 100%;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
}
/* line 23, sass/advanced-forum.hkforumstyle.structure.scss */
table.forum-table th, table.forum-table td {
  background-color: #fff;
  border-right: solid 1px #ccc;
}
/* line 30, sass/advanced-forum.hkforumstyle.structure.scss */
table.forum-table thead tr th {
  border-bottom: solid 1px #ccc;
  padding: 10px 20px;
}
/* line 39, sass/advanced-forum.hkforumstyle.structure.scss */
table.forum-table tbody tr td {
  padding: 20px;
}
/* line 45, sass/advanced-forum.hkforumstyle.structure.scss */
table.forum-table tbody tr td.forum-list-icon span.forum-list-icon-wrapper span {
  background: url('images/icons-s7aa0d17ed4.png') no-repeat;
}
/* line 52, sass/advanced-forum.hkforumstyle.structure.scss */
table.forum-table tbody tr td.forum-list-icon.forum-list-icon-default span.forum-list-icon-wrapper span {
  background-position: -70px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 35px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 52, sass/advanced-forum.hkforumstyle.structure.scss */
  table.forum-table tbody tr td.forum-list-icon.forum-list-icon-default span.forum-list-icon-wrapper span {
    background-size: 309px 26px;
    background-position: 0 0;
    height: 26px;
    width: 35px;
  }
}
/* line 60, sass/advanced-forum.hkforumstyle.structure.scss */
table.forum-table tbody tr td.forum-list-icon.forum-list-icon-new-posts span.forum-list-icon-wrapper span {
  background-position: -175px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 35px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 60, sass/advanced-forum.hkforumstyle.structure.scss */
  table.forum-table tbody tr td.forum-list-icon.forum-list-icon-new-posts span.forum-list-icon-wrapper span {
    background-size: 309px 26px;
    background-position: -53px 0;
    height: 26px;
    width: 35px;
  }
}

/* line 89, sass/advanced-forum.hkforumstyle.structure.scss */
div#forum-topic-list table.forum-table-topics th:nth-child(1),
div#forum-topic-list table.forum-table-topics td:nth-child(1),
div#forum-topic-list table.forum-table-topics th:nth-child(n+3),
div#forum-topic-list table.forum-table-topics td:nth-child(n+3) {
  display: none;
}
/* line 98, sass/advanced-forum.hkforumstyle.structure.scss */
div#forum-topic-list table.forum-table-topics tbody tr td.views-field-title span.marker {
  color: blue;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -3000px;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: orangered transparent transparent transparent;
}
@media all and (min-width: 480px) {
  /* line 121, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics th:nth-child(1),
  div#forum-topic-list table.forum-table-topics td:nth-child(1),
  div#forum-topic-list table.forum-table-topics th:nth-child(n+4),
  div#forum-topic-list table.forum-table-topics td:nth-child(n+4) {
    display: table-cell;
  }
  /* line 129, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon {
    background: url('images/icons-s7aa0d17ed4.png') no-repeat;
  }
  /* line 132, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-default {
    background-position: -326px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 16px;
    width: 25px;
  }
  /* line 136, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-new {
    background-position: -551px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 16px;
    width: 25px;
  }
  /* line 140, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-sticky {
    background-position: -604px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 25px;
    width: 14px;
  }
  /* line 144, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-closed {
    background-position: -254px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 25px;
    width: 22px;
  }
  /* line 148, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-hot {
    background-position: -401px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 25px;
    width: 25px;
  }
  /* line 152, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-hot-new {
    background-position: -476px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 25px;
    width: 25px;
  }
}
@media all and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), all and (min-width: 480px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 480px) and (min-device-pixel-ratio: 2), all and (min-width: 480px) and (min-resolution: 144dppx) {
  /* line 132, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-default {
    background-size: 309px 26px;
    background-position: -138px 0;
    height: 16px;
    width: 25px;
  }
}
@media all and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), all and (min-width: 480px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 480px) and (min-device-pixel-ratio: 2), all and (min-width: 480px) and (min-resolution: 144dppx) {
  /* line 136, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-new {
    background-size: 309px 26px;
    background-position: -251px 0;
    height: 16px;
    width: 25px;
  }
}
@media all and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), all and (min-width: 480px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 480px) and (min-device-pixel-ratio: 2), all and (min-width: 480px) and (min-resolution: 144dppx) {
  /* line 140, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-sticky {
    background-size: 309px 26px;
    background-position: -288px 0;
    height: 25px;
    width: 14px;
  }
}
@media all and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), all and (min-width: 480px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 480px) and (min-device-pixel-ratio: 2), all and (min-width: 480px) and (min-resolution: 144dppx) {
  /* line 144, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-closed {
    background-size: 309px 26px;
    background-position: -105px 0;
    height: 25px;
    width: 22px;
  }
}
@media all and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), all and (min-width: 480px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 480px) and (min-device-pixel-ratio: 2), all and (min-width: 480px) and (min-resolution: 144dppx) {
  /* line 148, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-hot {
    background-size: 309px 26px;
    background-position: -176px 0;
    height: 25px;
    width: 25px;
  }
}
@media all and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 480px) and (-o-min-device-pixel-ratio: 3 / 2), all and (min-width: 480px) and (min--moz-device-pixel-ratio: 2), all and (min-width: 480px) and (min-device-pixel-ratio: 2), all and (min-width: 480px) and (min-resolution: 144dppx) {
  /* line 152, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics tbody tr td.views-field-topic-icon span.topic-icon.topic-icon-hot-new {
    background-size: 309px 26px;
    background-position: -213px 0;
    height: 25px;
    width: 25px;
  }
}
@media all and (min-width: 960px) {
  /* line 170, sass/advanced-forum.hkforumstyle.structure.scss */
  div#forum-topic-list table.forum-table-topics th:nth-child(1),
  div#forum-topic-list table.forum-table-topics td:nth-child(1),
  div#forum-topic-list table.forum-table-topics th:nth-child(n+3),
  div#forum-topic-list table.forum-table-topics td:nth-child(n+3) {
    display: table-cell;
  }
}

/* line 182, sass/advanced-forum.hkforumstyle.structure.scss */
table.forum-table-forums th:nth-child(1),
table.forum-table-forums td:nth-child(1),
table.forum-table-forums th:nth-child(n+3),
table.forum-table-forums td:nth-child(n+3) {
  display: none;
}
@media all and (min-width: 960px) {
  /* line 190, sass/advanced-forum.hkforumstyle.structure.scss */
  table.forum-table-forums th:nth-child(1),
  table.forum-table-forums td:nth-child(1),
  table.forum-table-forums th:nth-child(n+3),
  table.forum-table-forums td:nth-child(n+3) {
    display: table-cell;
  }
}

/* line 199, sass/advanced-forum.hkforumstyle.structure.scss */
.forum-list-icon-legend .forum-list-legend-item .forum-list-icon-wrapper span {
  background: url('images/icons-s7aa0d17ed4.png') no-repeat;
}
/* line 202, sass/advanced-forum.hkforumstyle.structure.scss */
.forum-list-icon-legend .forum-list-legend-item .forum-list-icon-wrapper span.forum-list-icon-new-posts {
  background-position: -175px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 35px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 202, sass/advanced-forum.hkforumstyle.structure.scss */
  .forum-list-icon-legend .forum-list-legend-item .forum-list-icon-wrapper span.forum-list-icon-new-posts {
    background-size: 309px 26px;
    background-position: -53px 0;
    height: 26px;
    width: 35px;
  }
}
/* line 206, sass/advanced-forum.hkforumstyle.structure.scss */
.forum-list-icon-legend .forum-list-legend-item .forum-list-icon-wrapper span.forum-list-icon-default {
  background-position: -70px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 26px;
  width: 35px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 206, sass/advanced-forum.hkforumstyle.structure.scss */
  .forum-list-icon-legend .forum-list-legend-item .forum-list-icon-wrapper span.forum-list-icon-default {
    background-size: 309px 26px;
    background-position: 0 0;
    height: 26px;
    width: 35px;
  }
}

/* line 9, sass/_post.scss */
article.forum-post aside {
  display: none;
}
/* line 13, sass/_post.scss */
article.forum-post section.post-content {
  position: relative;
  background-color: #f7f7f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #dedede;
  margin: 10px 0;
}
/* line 21, sass/_post.scss */
article.forum-post section.post-content header {
  font-size: .8rem;
  padding: 20px 20px 0px 20px;
  color: #3482a2;
}
/* line 26, sass/_post.scss */
article.forum-post section.post-content header a.username {
  color: #3482a2;
}
/* line 29, sass/_post.scss */
article.forum-post section.post-content header a.username:hover {
  text-decoration: underline;
}
/* line 36, sass/_post.scss */
article.forum-post section.post-content main h2.post-title {
  padding: 20px 20px 0 20px;
  font-size: 1.2rem;
}
/* line 41, sass/_post.scss */
article.forum-post section.post-content main .forum-post-content {
  padding: 20px;
}
/* line 44, sass/_post.scss */
article.forum-post section.post-content main .forum-post-content .post-edited {
  font-size: .8rem;
  padding: 10px 0;
  margin: 0;
}
/* line 52, sass/_post.scss */
article.forum-post section.post-content footer {
  padding: 0 20px 20px 20px;
}
/* line 58, sass/_post.scss */
article.forum-post.top-post section.post-content {
  background-color: #e0eff5;
}
@media all and (min-width: 960px) {
  /* line 65, sass/_post.scss */
  article.forum-post aside {
    display: block;
  }
  /* line 69, sass/_post.scss */
  article.forum-post aside .photo {
    width: 100px;
    height: 100px;
    border: solid 1px #f4f4f4;
    margin: 20px auto auto;
    padding: 5px;
  }
  /* line 76, sass/_post.scss */
  article.forum-post aside .photo .inner-photo {
    background-color: #f4f4f4;
    height: 100%;
  }
  /* line 86, sass/_post.scss */
  article.forum-post section.post-content .forum-in-reply-to,
  article.forum-post section.post-content .forum-post-number {
    float: right;
  }
  /* line 90, sass/_post.scss */
  article.forum-post section.post-content:before {
    display: block;
    position: absolute;
    left: -10px;
    top: 40px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #dedede transparent transparent;
    content: '';
  }
  /* line 103, sass/_post.scss */
  article.forum-post section.post-content .forum-post-links {
    float: none;
    margin: 0;
  }
  /* line 107, sass/_post.scss */
  article.forum-post section.post-content .forum-post-links ul {
    margin: 0;
  }
  /* line 110, sass/_post.scss */
  article.forum-post section.post-content .forum-post-links ul li {
    margin: 0;
  }
  /* line 113, sass/_post.scss */
  article.forum-post section.post-content .forum-post-links ul li a {
    margin-right: 15px;
    text-transform: capitalize;
  }
  /* line 124, sass/_post.scss */
  article.forum-post.top-post section.post-content {
    border: solid 1px #b9dbe9;
  }
  /* line 127, sass/_post.scss */
  article.forum-post.top-post section.post-content:before {
    border-color: transparent #b9dbe9 transparent transparent;
  }
}

/* line 1, sass/_topic_legend.scss */
.forum-topic-legend {
  padding: 0 0 1em 0;
}
/* line 5, sass/_topic_legend.scss */
.forum-topic-legend .forum-topic-legend-item {
  clear: none;
}
/* line 8, sass/_topic_legend.scss */
.forum-topic-legend .forum-topic-legend-item span {
  float: left;
}
/* line 12, sass/_topic_legend.scss */
.forum-topic-legend .forum-topic-legend-item span.topic-icon {
  background: url('images/icons-s7aa0d17ed4.png') no-repeat;
  display: inline-block;
  margin: 0 1em 0 0;
}
/* line 17, sass/_topic_legend.scss */
.forum-topic-legend .forum-topic-legend-item span.topic-icon.topic-icon-new {
  background-position: -551px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 16px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 17, sass/_topic_legend.scss */
  .forum-topic-legend .forum-topic-legend-item span.topic-icon.topic-icon-new {
    background-size: 309px 26px;
    background-position: -251px 0;
    height: 16px;
    width: 25px;
  }
}
/* line 21, sass/_topic_legend.scss */
.forum-topic-legend .forum-topic-legend-item span.topic-icon.topic-icon-sticky {
  background-position: -604px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 25px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 21, sass/_topic_legend.scss */
  .forum-topic-legend .forum-topic-legend-item span.topic-icon.topic-icon-sticky {
    background-size: 309px 26px;
    background-position: -288px 0;
    height: 25px;
    width: 14px;
  }
}
/* line 25, sass/_topic_legend.scss */
.forum-topic-legend .forum-topic-legend-item span.topic-icon.topic-icon-closed {
  background-position: -254px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 25px;
  width: 22px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 25, sass/_topic_legend.scss */
  .forum-topic-legend .forum-topic-legend-item span.topic-icon.topic-icon-closed {
    background-size: 309px 26px;
    background-position: -105px 0;
    height: 25px;
    width: 22px;
  }
}
/* line 29, sass/_topic_legend.scss */
.forum-topic-legend .forum-topic-legend-item span.topic-icon.topic-icon-hot {
  background-position: -401px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 25px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 29, sass/_topic_legend.scss */
  .forum-topic-legend .forum-topic-legend-item span.topic-icon.topic-icon-hot {
    background-size: 309px 26px;
    background-position: -176px 0;
    height: 25px;
    width: 25px;
  }
}
/* line 33, sass/_topic_legend.scss */
.forum-topic-legend .forum-topic-legend-item span.topic-icon.topic-icon-hot-new {
  background-position: -476px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 25px;
  width: 25px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 33, sass/_topic_legend.scss */
  .forum-topic-legend .forum-topic-legend-item span.topic-icon.topic-icon-hot-new {
    background-size: 309px 26px;
    background-position: -213px 0;
    height: 25px;
    width: 25px;
  }
}
/* line 37, sass/_topic_legend.scss */
.forum-topic-legend .forum-topic-legend-item span.forum-topic-legend-text {
  display: inline-block;
}
