@import "compass/utilities/sprites";
// https://github.com/pixelmord/Retina-Sprites-for-Compass
$icons-sprite: sprite-map(
  "icons/*.png",
  $spacing: 0px,
  $layout: horizontal
);

$sprite-high-res-suffix: '-2x' !default;

// Sprite mixin, works perfectly with standard defines
@mixin use-sprite($sprite, $sprite-retina: false, $sprite-map: $icons-sprite) {
  $sprite-high-res: #{$sprite}#{$sprite-high-res-suffix};
  // background-image: sprite-url($sprite-map);
  background-position: sprite-position($sprite-map, $sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  height: image-height(sprite-file($sprite-map, $sprite));
  width: image-width(sprite-file($sprite-map, $sprite));

  @if $sprite-retina {
    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {

      background-size: (image-width(sprite-path($sprite-map)) / 2) (image-height(sprite-path($sprite-map)) / 2);
      background-position: round(nth(sprite-position($sprite-map, $sprite-high-res), 1) / 2) round(nth(sprite-position($sprite-map, $sprite-high-res), 2) / 2);
      height: image-height(sprite-file($sprite-map, $sprite));
      width: image-width(sprite-file($sprite-map, $sprite));
    }
  }
}

.entity-field-collection-item .icon {
  display: inline-block;
  background: $icons-sprite no-repeat;
}

// sprite_names($icons-sprite)
 //"assignment" "audio" "blog" "chat" "coins" "dictionary" "flash" "folder" "globe" "home" "hourglass" "meeting" "notification" "online_teacher" "quiz" "responsive_design" "ribbon" "search" "stamp" "tools" "video" "video_conference";
$classes: "forum_list_default", "forum_list_new_posts", "topic_list_closed";
@each $sprite in $classes {
  .icon.#{$sprite} {
    @include use-sprite($sprite, true);
  }
}



