
$post-border-radius: 5px;
$post-background-color: #E0EFF5;

$post-reply-background-color: #f7f7f7;

article.forum-post {

  aside {
    display: none;
  }

  section.post-content {

    position: relative;
    background-color: $post-reply-background-color;
    @include border-radius($post-border-radius);
    border: solid 1px darken($post-reply-background-color, 10);
    margin: 10px 0;

    header {
      font-size: .8rem;
      padding: 20px 20px 0px 20px;
      color: darken($post-background-color, 50);

      a.username {
        color: darken($post-background-color, 50);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    main {
      h2.post-title {
        padding: 20px 20px 0 20px;
        font-size: 1.2rem;
      }

      .forum-post-content {
        padding: 20px;

        .post-edited {
          font-size: .8rem;
          padding: 10px 0;
          margin: 0;
        }
      }
    } // /.main

    footer {
      padding: 0 20px 20px 20px;
    }
  }

  &.top-post {
    section.post-content {
      background-color: $post-background-color;
    }
  }

  @media all and (min-width: 960px) {

    aside {

      display: block;

      .photo {
        width: 100px;
        height: 100px;
        border: solid 1px #f4f4f4;
        margin: 20px auto auto;
        padding: 5px;

        .inner-photo {
          background-color: #f4f4f4;
          height: 100%;
        }
      }
    }

    section.post-content {

      .forum-in-reply-to,
      .forum-post-number {
        float: right;
      }

      &:before {
        display: block;
        position: absolute;
        left: -10px;
        top: 40px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent darken($post-reply-background-color, 10) transparent transparent;
        content: '';
      }

      .forum-post-links {
        float: none;
        margin: 0;

        ul {
          margin: 0;

          li {
            margin: 0;

            a {
              margin-right: 15px;
              text-transform: capitalize;
            }
          }
        }
      }

    }

    &.top-post {
      section.post-content {
        border: solid 1px darken($post-background-color, 10);

        &:before {
          border-color: transparent darken($post-background-color, 10) transparent transparent;
        }
      }
    }

  }
}
