.forum-topic-legend {

    padding: 0 0 1em 0;

    .forum-topic-legend-item {
        clear: none;

        span {
            float: left;
        }

        span.topic-icon {
            background: $icons-sprite no-repeat;
            display: inline-block;
            margin: 0 1em 0 0;

            &.topic-icon-new {
                @include use-sprite('topic_list_new', true);
            }

            &.topic-icon-sticky {
                @include use-sprite('topic_list_sticky', true);
            }

            &.topic-icon-closed {
                @include use-sprite('topic_list_closed', true);
            }

            &.topic-icon-hot {
                @include use-sprite('topic_list_hot', true);
            }

            &.topic-icon-hot-new {
                @include use-sprite('topic_list_hot_new', true);
            }
        }
        span.forum-topic-legend-text {
            display: inline-block;
        }
    }
}
