@import "compass";
@import "mixins";

$sticky-color: #F9F9E4;
$sticky-border-color: darken(lightblue, 5);
$border-color: #ccc;

div.forum-table-superheader {
  border-left: solid 1px $border-color;
  border-top: solid 1px $border-color;
  border-right: solid 1px $border-color;
  border-bottom: solid 1px $border-color;
  margin-bottom: -1px;
}

table.forum-table {

  width: 100%;

  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;

  th, td {
    background-color: #fff;
    border-right: solid 1px #ccc;
  }

  thead {
    tr {
      th {
        border-bottom: solid 1px #ccc;
        padding: 10px 20px;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 20px;

        &.forum-list-icon {

          span.forum-list-icon-wrapper {
            span {
              background: $icons-sprite no-repeat;
            }
          }

          &.forum-list-icon-default {
            span.forum-list-icon-wrapper {
              span {
                @include use-sprite('forum_list_default', true);
              }
            }
          }

          &.forum-list-icon-new-posts {
            span.forum-list-icon-wrapper {
              span {
                @include use-sprite('forum_list_new_posts', true);
              }
            }
          }
        }
      }

      &.sticky {

        td {
          // background-color: $sticky-color;

          &:first-child {
            // border-left: solid 3px $sticky-border-color;
          } // /&:first-child

        } // /td
      } // /&.sticky
    } // /tr
  } // /tbody
} // /table.forum-table

div#forum-topic-list {

  table.forum-table-topics {
    th:nth-child(1),
    td:nth-child(1),
    th:nth-child(n+3),
    td:nth-child(n+3) {
      display: none;
    }

    tbody {
      tr {
        td {
          &.views-field-title {

            span.marker {
              color: blue;
              position: absolute;
              top: 0;
              left: 0;
              text-indent: -3000px;
              border-style: solid;
              border-width: 15px 15px 0 0;
              border-color: orangered transparent transparent transparent;
            }
          }
        }
      }
    }

  }

  @media all and (min-width: 480px) {

    table.forum-table-topics {
      th:nth-child(1),
      td:nth-child(1),
      th:nth-child(n+4),
      td:nth-child(n+4) {
        display: table-cell;
      }

      tbody {
        tr {
          td {
            &.views-field-topic-icon {
              span.topic-icon {
                background: $icons-sprite no-repeat;

                &.topic-icon-default {
                  @include use-sprite('topic_list_default', true);
                }

                &.topic-icon-new {
                  @include use-sprite('topic_list_new', true);
                }

                &.topic-icon-sticky {
                  @include use-sprite('topic_list_sticky', true);
                }

                &.topic-icon-closed {
                  @include use-sprite('topic_list_closed', true);
                }

                &.topic-icon-hot {
                  @include use-sprite('topic_list_hot', true);
                }

                &.topic-icon-hot-new {
                  @include use-sprite('topic_list_hot_new', true);
                }
              }
            }
          }
        }
      }
    }

  }

  @media all and (min-width: 960px) {

    table.forum-table-topics {
      th:nth-child(1),
      td:nth-child(1),
      th:nth-child(n+3),
      td:nth-child(n+3) {
        display: table-cell;
      }
    }

  }
}

table.forum-table-forums {
  th:nth-child(1),
  td:nth-child(1),
  th:nth-child(n+3),
  td:nth-child(n+3) {
    display: none;
  }

  @media all and (min-width: 960px) {
    th:nth-child(1),
  td:nth-child(1),
  th:nth-child(n+3),
  td:nth-child(n+3) {
    display: table-cell;
  }
  }
}

.forum-list-icon-legend {
  .forum-list-legend-item {
    .forum-list-icon-wrapper {
      span {
        background: $icons-sprite no-repeat;

        &.forum-list-icon-new-posts {
          @include use-sprite('forum_list_new_posts', true);
        }

        &.forum-list-icon-default {
          @include use-sprite('forum_list_default', true);
        }
      }
    }
  }
}

@import "post";
@import "topic_legend";
